html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* Hide scrollbars */
  font-family: 'Google Sans',Roboto,Arial,sans-serif !important;
}

body {
  margin: 0 0 55px 0;
  background-color: rgba(0, 0, 0, 0.87);
  width: 100%;
  overflow: hidden;
  /* Hide scrollbars */
}

h2 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
}

h3 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #202124;
}

h4 {
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
}

::-webkit-input-placeholder {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

:-ms-input-placeholder {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

::-ms-input-placeholder {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

::placeholder {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

.You {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 90px;
  left: 20px;
  right: -0.5px;
  font-size: 15px;
}

.mic__status {
  width: 18px;
  display: block;
  right: 20px;
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 20px;
}

.mute_up {
  width: 18px;
}

.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  overflow-x: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 768px) {
  .nav {
    height: 105px;
  }
  .nav__center {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px;
    padding-right: 300px;
  }
  .nav__right {
    display: none;
  }
  .nav__left {
    display: none;
  }
}

.nav__center {
  margin-left: 200px !important;
  margin-right: 200px !important;
  padding-left: 150px;
  padding-right: 150px;
}

.nav__btnclr {
  -webkit-filter: invert(38%) sepia(6%) saturate(406%) hue-rotate(173deg) brightness(99%) contrast(93%);
          filter: invert(38%) sepia(6%) saturate(406%) hue-rotate(173deg) brightness(99%) contrast(93%);
}

.nav__right {
  padding-left: 125px;
}

.nav__left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-right: 125px;
  margin-right: 100px;
  padding-left: 10px;
}

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 40px;
  overflow: hidden;
  white-space: nowrap;
  font-family: sans-serif;
  font-size: 13px;
  color: #444444;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
  margin-left: 10px;
  margin-right: 10px;
}

.You {
  display: block;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 100px;
  left: 20px;
  right: -0.5px;
  font-size: 15px;
}

.mic__status {
  width: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

.nav__icon {
  font-size: 18px;
}

.sidebar {
  height: 88%;
  width: 0;
  position: fixed;
  z-index: 1;
  margin-top: 10px;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 5px;
  border-radius: 10px;
  padding-left: 0px;
  margin-right: 15px;
}

@media only screen and (max-width: 1380px) {
  .sidebar {
    height: 86%;
  }
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media only screen and (max-width: 768px) {
  .nav__icon {
    font-size: 0px;
  }
}

.sidebar a:hover {
  color: #000;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 5px;
}

.closebtnhover {
  color: #000;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: #fff;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 550px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.sidebar__activities {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  box-flex: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.navbar__center__btn {
  background-color: #3c4043;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 1px solid #dadce0;
  border-radius: 50%;
  border-width: 0;
  padding: 8px;
  font-size: 24px;
  font: 400 13.3333px Arial;
  height: 40px;
}

.navbar__center__btn:hover {
  background-color: #484d50;
  cursor: pointer;
  cursor: hand;
}

.navbar__center__red {
  background-color: #ea4335;
}

.navbar__center__red:hover {
  background-color: #ec584c;
  cursor: pointer;
  cursor: hand;
}

.profilepic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.profilepic__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 320px;
}

@media only screen and (max-width: 1214px) {
  .profilepic__image {
    width: 40%;
    margin-top: 350px;
  }
}

@media only screen and (max-width: 792px) {
  .profilepic__image {
    width: 40%;
    margin-top: 300px;
  }
}

@media only screen and (max-width: 768px) {
  .profilepic__image {
    width: 90%;
    margin-top: 300px;
  }
}

@media only screen and (max-width: 550px) {
  .profilepic__image {
    width: 60%;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 365px) {
  .profilepic__image {
    width: 60%;
    margin-top: 250px;
  }
}

.people__heading {
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  vertical-align: top;
}

.people__remote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-left: 20px;
}

.people__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px;
  background-color: #fff;
  border-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-style: solid;
  border-radius: 10px;
}

.people__btn:hover {
  background-color: #ebebeb;
}

.people__card {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.people__img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}

.people__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.people__icon {
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  margin-left: 10px;
  border-radius: 5px;
}

.people__ic {
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  margin: 15px;
  margin-top: 0px;
}

.people__incall {
  padding-left: 20px;
  margin-top: 0px;
  font-size: 14px;
}

.people__search {
  padding: 10px;
  padding-right: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 36px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
}

.people__div {
  margin-top: 0px;
  margin-bottom: 0px;
}

.people__text {
  color: #3c4043;
  margin-top: 0px;
  margin-bottom: 0px;
}

#confirm {
  display: none;
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
  position: fixed;
  width: 370px;
  height: 100px;
  left: 40%;
  top: 40%;
  margin-left: -100px;
  padding: 10px 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: right;
  border-radius: 10px;
}

#confirm button {
  background-color: #fff;
  display: inline-block;
  border-radius: 12px;
  border: 4px solid #fff;
  padding: 5px;
  text-align: center;
  width: 120px;
  cursor: pointer;
}

#confirm .message {
  text-align: left;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
}

.endcall {
  border-radius: 20px;
  padding: 5px;
  width: 60px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar_expand {
  display: none;
  background-color: transparent;
}

@media only screen and (max-width: 792px) {
  .navbar_expand {
    display: block;
  }
}

.messagebox_text {
  color: #1a73e8;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
}

input {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

.people__icon {
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  border: 1px solid #dadce0;
  border-radius: 50%;
  border-width: 0;
  padding: 8px;
  font-size: 24px;
  font: 400 13.3333px Arial;
  height: 40px;
}

.people__icon:hover {
  background-color: #e8e9ec;
  cursor: pointer;
  cursor: hand;
}

.nav_text {
  color: #fff;
}

.dropup__content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  bottom: 70px;
  z-index: 5;
  right: 20px;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 5px;
  padding-right: 45px;
  margin-bottom: 5px;
}

.dropup__navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.dropup__text {
  line-height: 1.5rem;
  font-size: 1rem;
  letter-spacing: .00625em;
  font-weight: 400;
  color: #000;
  color: var(--mdc-theme-on-surface, #000);
}

.dropup__img {
  padding-right: 25px;
}

.meeting_text {
  font-size: 13px;
  margin-top: 4px;
}

.nav__text {
  color: #fff;
  font-size: 18px;
  margin: 5px;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
}

input {
  background-image: url(/static/img/search.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px 5px 10px 20px;
  text-indent: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 200px;
}

.navbares {
  position: fixed;
  bottom: 25px;
  right: 0;
}

.nav__left {
  position: absolute;
  bottom: 25px;
  left: 0px;
}

.nav__center {
  position: absolute;
  right: 41%;
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (max-width: 1380px) {
  .nav__center {
    position: absolute;
    right: 37%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text {
    display: block;
  }
}

@media screen and (max-width: 906px) {
  .nav__center {
    position: absolute;
    right: 36%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text {
    display: block;
  }
}

@media screen and (max-width: 799px) {
  .nav__center {
    position: absolute;
    right: 20%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text {
    display: none;
  }
  .nav__right {
    display: none;
  }
  .nav__left {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav__center {
    position: absolute;
    right: 20%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text {
    display: none;
  }
  .nav__right {
    display: none;
  }
  .nav__left {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .nav__center {
    position: absolute;
    right: 6%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text {
    display: none;
  }
  .nav_hide_text {
    display: none;
  }
  .nav__right {
    display: none;
  }
  .nav__left {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  .nav__center {
    position: absolute;
    right: 1%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__right {
    display: none;
  }
  .nav__left {
    display: none;
  }
  .navbar__center__btn {
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media only screen and (max-width: 414px) {
  .nav__center {
    position: absolute;
    right: 1%;
    margin: 0 !important;
    padding: 0 !important;
  }
}
/*# sourceMappingURL=main.css.map */