$white: #fff;
$red:#ea4335;

html{
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide scrollbars */

}
body {
    margin: 0 0 55px 0;
    background-color:rgba(0,0,0,0.87);
    width: 100%;
    overflow: hidden; /* Hide scrollbars */

}
h2{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
}
h3{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.5rem;
  color: #202124;
}

h4{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
}
p{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;

}
::placeholder {
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  
}
.You{
  color: #FFF;
  display: flex;
  position: absolute;
  bottom: 90px;
  left:20px;
  right:-0.5px;
  font-size: 15px;
}
.mic__status{
  width: 18px;
  display: block;
  right: 20px;
  width: 18px;
  display: flex;
  position: absolute;

  top: 20px;
}
.mute_up{
  width: 18px;
}
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    display: flex;
    flex: 1 1 25%;
    overflow-x: auto;
    align-items: center;
}
@media only screen and (max-width: 600px) {
  .nav{
    height: 105px;
  }
  .nav__center{
    margin-left: 0px !important; 
    margin-right: 0px !important;
    padding-left: 0px;
    padding-right: 300px;
}
.nav__right{
  display: none;

}
.nav__left{
display: none;
}
}
.nav__center{
  margin-left: 200px !important; 
  margin-right: 200px !important;
  padding-left: 150px;
  padding-right: 150px;


}
.nav__btnclr{
  filter: invert(38%) sepia(6%) saturate(406%) hue-rotate(
173deg
) brightness(99%) contrast(93%);
}
.nav__right{
    padding-left:125px ;
  
  }
.nav__left{
    align-items: flex-start;
    padding-right:125px ;
    margin-right: 100px;
    padding-left: 10px;


  
  }
.nav__link {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // flex-grow: 1;
    min-width: 40px;
    // min-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    font-family: sans-serif;
    font-size: 13px;
    color: #444444;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
}

.You{
  display: block;
  color: #FFF;
  display: flex;
  position: absolute;
  bottom: 100px;
  left:20px;
  right:-0.5px;
  font-size: 15px;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;

}
.mic__status{
  width: 18px;
  display: flex;
  position: absolute;

}


.nav__icon {
    font-size: 18px;
}

.sidebar {
    height: 88%;
    width: 0;
    position: fixed;
    z-index: 1;
    margin-top: 10px;
    top: 0;
    right: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5px;
    border-radius: 10px;
    padding-left: 0px;
    margin-right: 15px;
  }
  @media only screen and (max-width: 1500px) {
    .sidebar{
    height: 86%;
    }
  }
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  @media only screen and (max-width: 600px) {
    .nav__icon{
      font-size: 0px;
    }
  }
  
  .sidebar a:hover {
    color: #000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 5px;
  }
  .closebtn{
    &hover{
      color: #000;
    }
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
    
.sidebar__activities {
    font-family: 'Google Sans',Roboto,Arial,sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    box-flex: 1;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navbar__center__btn{
  &:hover {
    background-color: lighten(#3c4043, 5%);
    cursor: pointer;
    cursor: hand;
  }
  background-color :#3c4043;
  box-sizing: border-box;
  display: inline-block;
  border:1px solid #dadce0;
  border-radius: 50%;
  border-width: 0;
  padding: 8px;
  font-size: 24px;
  font: 400 13.3333px Arial;
  height: 40px;
}

.navbar__center__red{
  &:hover {
    background-color: lighten($red, 5%);
    cursor: pointer;
    cursor: hand;
  }
  background-color:$red;
}
.profilepic{
    align-items: center;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  
}
.profilepic__image{
    align-items: center;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    margin-top: 320px;
  
}
@media only screen and (max-width: 1000px) {
  .profilepic__image{
    width: 40%;
    margin-top: 350px;
  }
}
@media only screen and (max-width: 792px) {
  .profilepic__image{
    width: 40%;
    margin-top: 300px;
  }
}
@media only screen and (max-width: 600px) {
  .profilepic__image{
    width: 90%;
    margin-top: 300px;
  }
}
@media only screen and (max-width: 414px) {
  .profilepic__image{
    width: 60%;
    margin-top: 270px;
  }
}
@media only screen and (max-width: 360px) {
  .profilepic__image{
    width: 90%;
    margin-top: 250px;
  }
}
.people__heading{
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  vertical-align: top;
}

.people__remote{
  display: flex;
  flex-direction: row;
  align-content: center;
  padding-left: 20px;

}
.people__btn{

    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5px;
    background-color: white;
    border-color: white;
    box-shadow: none; 
    border-style: solid;

    &:hover {
      background-color: #ebebeb;
    }
    border-radius: 10px;
}


.people__card{
  padding-left: 10px;
  display: flex;
  flex-direction: row;
}
.people__img{
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.people__name{
  display: flex;
  flex-direction: column;
}
.people__icon{
  align-self: left;
  margin-left: 10px;
  border-radius: 5px;


}
.people__ic{
  align-self: left;
  margin: 15px;
  margin-top: 0px;


}
.people__incall{
  padding-left: 20px;
  margin-top: 0px;
  font-size: 14px;

}
.people__search{

  padding: 10PX;
  padding-right: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 36px;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 17px;
}
.people__div{
  margin-top: 0px;
  margin-bottom: 0px;

}
.people__text{
  color: #3c4043;
  margin-top: 0px;
 margin-bottom: 0px;
}
#confirm {
  display: none;
  background-color: white;
  color: #000;
  border: 1px solid white;
  position: fixed;
  width: 370px;
  height: 100px;
  left: 40%;
  top:40%;
  margin-left: -100px;
  padding: 10px 20px 10px;
  box-sizing: border-box;
  text-align: right;
  border-radius: 10px;
}

  #confirm button {
      background-color: white;
      display: inline-block;
      border-radius: 12px;
      border: 4px solid white;
      padding: 5px;
      text-align: center;
      width: 120px;
      cursor: pointer;
  }

  #confirm .message {
      text-align: left;
      margin-top: 5px;
      font-family: 'Google Sans',Roboto,Arial,sans-serif;
      font-size: 20px;
      font-weight: 500;
  }
.endcall{
  border-radius: 20px;
  padding:5px;
  width: 60px;
  display: block;
  padding-left: 15px;
  padding-right: 15px;
}
.navbar_expand{
  display: none;
  background-color:transparent;
}
@media only screen and (max-width: 792px) {
  .navbar_expand{
    display: block;
    
  }
}
.messagebox_text{
  color: #1a73e8;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
}
input{
  font-family: 'Google Sans',Roboto,Arial,sans-serif;

}
.people__icon{
  &:hover {
    background-color: lighten(#dadce0, 5%);
    cursor: pointer;
    cursor: hand;
  }
  background-color :#fff;
  box-sizing: border-box;
  display: inline-block;
  border:1px solid #dadce0;
  border-radius: 50%;
  border-width: 0;
  padding: 8px;
  font-size: 24px;
  font: 400 13.3333px Arial;
  height: 40px;
}
.nav_text{
  color: #fff;
}

.dropup__content{
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  bottom: 70px;
  z-index: 5;
  right: 20px;
  padding: 15px;
  padding-bottom: 5px;
  border-radius: 5px;
  padding-right: 45px;
  margin-bottom: 5px;
}

.dropup__navlink{
    display: flex;
    padding-bottom: 15px;
    justify-content: flex-start;

}
.dropup__text{
font-family: Roboto,Arial,sans-serif;
line-height: 1.5rem;
font-size: 1rem;
letter-spacing: .00625em;
font-weight: 400;
color: #000;
color: var(--mdc-theme-on-surface,#000);
}
.dropup__img{
  padding-right: 25px;
}

.meeting_text{
  font-size: 13px;
  margin-top: 4px;
}
.nav__text{
  color: #fff;
  font-size: 18px;
  margin:5px;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;

}
input {
  background-image: url(/static/img/search.svg);
  background-position: 10px center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  padding: 10px 5px 10px 20px;
  text-indent: 20px;

  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;

  width: 200px;
}
.navbares{
  position: fixed;
  bottom: 25px;
  right: 0;
}

.nav__left{
  position:absolute;
  bottom: 25px;
  left:0px
}
.nav__center{
  position: absolute;
  right:41%;
  margin: 0 !important;
  padding: 0 !important;


}
@media screen and (max-width: 1300px) {
  .nav__center{
    position: absolute;
    right:37%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text{
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .nav__center{
    position: absolute;
    right:36%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text{
    display: block;
  }
}
@media screen and (max-width: 792px) {
  .nav__center{
    position: absolute;
    right:20%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text{
    display: block;
  }
  .nav__right{
    display: none;
  
  }
  .nav__left{
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .nav__center{
    position: absolute;
    right:6%;
    margin: 0 !important;
    padding: 0 !important;
  }
  .nav__text{
    display: none;
  }
  .nav_hide_text{
    display: none;
  }
  .nav__right{
    display: none;
  
  }
.nav__left{
  display: none;
  
  }
}
@media only screen and (max-width: 414px) {
  .nav__center{
    position: absolute;
    right:1%;
    margin: 0 !important;
    padding: 0 !important;
  }

  .nav__right{
    display: none;
  
  }
.nav__left{
  display: none;
  
  }
  .navbar__center__btn{
  margin-left: 3px;
  margin-right: 3px;
}
}

@media only screen and (max-width: 414px) {
  .nav__center{
    position: absolute;
    right:1%;
    margin: 0 !important;
    padding: 0 !important;

  }}